data/labeled/sentinel_image/
data/labeled/dem/
data/labeled/dem_parallel/
data/labeled/sentinel2/
data/labeled/sentinel2_parallel/
data/labeled/lithology/
data/labeled/lithology_parallel/
data/labeled/climbing/

**/__pycache__/
__pycache__/
*.pyc

**/.DS_Store
