data/labeled/sentinel_image/
data/labeled/dem/
data/labeled/dem_parallel/
data/labeled/sentinel2/
data/labeled/sentinel2_parallel/
data/labeled/lithology/
data/labeled/lithology_parallel/
data/labeled/climbing/
data/labeled/embeddings
data/unlabeled/sentinel_image/
data/unlabeled/dem/
data/unlabeled/dem_parallel/
data/unlabeled/sentinel2/
data/unlabeled/sentinel2_parallel/
data/unlabeled/lithology/
data/unlabeled/lithology_parallel/
data/unlabeled/climbing/
.env
data/unlabeled/embeddings
**/__pycache__/
__pycache__/
*.pyc

**/.DS_Store
